* {
    margin: 0%;
    border: 0%;
    font-family: 'Inconsolata', monospace;
}

header {

    background-color: #4493c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.1em;
    
}


.portafolio {

    max-width: 8%;
    height: 8%;
    position: relative;
    top: 0px; left: 40px;

}


nav ul {

    display: flex;
    gap: 40px;
    color:#191970;
    padding: 50px;
    

}

ul li {

    list-style: none;
}

a {
    text-decoration: none;
}
 
header a img {
    padding: 10px;
    
}
/* Hasta aca va el header */

.cuerpo1 {

    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 1em;
    margin-top: 1em;
    gap: 8em;
    text-align: justify;

}
.cuerpo2 {

    background-color:white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
    font-size: 1em;
    margin-top: 1em;
    gap: 8em;
    text-align: justify;
}

.titulo  {

    margin-bottom: 1em ;
    text-align: center;
   

}

.imagen1 {
    
    max-width: 100%;
    height: 100%;
}

.imagen2 {

    max-width: 150%;
    height: 150%;
}

.greeting {

  display: flex;
  color:cadetblue;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(1, 1, 15);
}



/* Hasta aca va el cuerpo 1 y 2 */

.container-card{

    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}
.title-cards{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: black;
}
.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
}


.card:hover{

    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido-card{
    padding: 15px;
    text-align: center;
}
.card .contenido-card h3{
    margin-bottom: 15px;
    color: #7a7a7a;
}
.card .contenido-card p{
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}
.card .contenido-card a{

    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}
.card .contenido-card a:hover{

    background: #2fb4cc;
    color: #fff;
}


.flex-container {

  flex-wrap: wrap;
}
 /* hasta aca van las tarjetas */

 .footer {

    background-color: #4493c7 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .Instagram img {

    width: 10px;
 }

h2 {

    margin: 1em;
}
/* footer terminado */
    
.sticky img{

    position: fixed;
    bottom: 10px;
    right: 29px;
    width: 90px;
}
/* logo sticky */

#check {

    display: none;

}

.checkbtn {

    font-size: 25px;
    color: rgb(119, 20, 20);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none
}

/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
  header {

    background-color: antiquewhite;
  }
   .titulo {

    text-align: center;

   }

   .imagen1 {

    margin-bottom: 40px;

   }


   .titulo {

    text-align: center;

   }

   .checkbtn {

    display: block; 

   }

   #header menu {

    position: flex;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;

    top: 80%;
    left: 100%;
    transition: all 0.5seg;
    
   }

     #check :checked ul {

        left: 0%;
        display: block;

     }

     #encabezado nav ul li {

        display: block;
        margin: 50px 0;
        line-height: 30px;

     }

     #encabezado nav ul li a {

        font-size: 100%;
     }

     #check :checked .checkbtn {

        color: antiquewhite;
     }

   }

   /* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"]  {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 37%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }

  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
  .form-row textarea {
      width: 250px;
    }
     
    .form-row button {
        font-size: 16px;
        font-weight: bold;
      
      
        color: #ffffff;
        background-color: #5995da;
      
      
        border: none;
        border-radius: 3px;
      
      
        padding: 10px 40px;
        cursor: pointer;
      }
      
      
      .form-row button:hover {
        background-color: #76aeed;
      }
      
      
      .form-row button:active {
        background-color: #407fc7;
      }
      
      
      /* ------------- Para Pantallas de más de 700px ------------- */
      
      
      .form-row button {

        margin-left: 120px;

      }
         

   


   




   


   






   






